body {
  background: #e9ebee;
}

strong {
  color: #EC407A;
  font-size: 1.3em
}

a:hover, a:focus {
  text-decoration: none;
}

.btn-submit {
  width: 100px;
  padding: 0px;
  border: 1px solid #388E3C;
  border-radius: 3px;
  background: #43A047;
  color: #FFF;
  font-family: system-ui;
  text-align: center;
  line-height: 1.7em;
}
